[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
biopython = "*"
networkx = "*"
tqdm = "*"
pyblast = {editable = true, path = "./../pyblast"}
fire = "*"
sqlalchemy = "*"
flask = "*"
graphene = "*"
graphene-sqlalchemy = "*"
flask-graphql = "*"

[dev-packages]
pandoc = "*"
coveralls = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
matplotlib = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
